*{
    margin:0;
    box-sizing: border-box;
}

/* utilities */
.w100{
    width: 100%;
}

.w80{
    width:80%;
}

.w50{
    width: 50%;
}

.w30{
    width: 30%;
}

.pad20{
    padding:20px;
}

.flex{
    display: flex;
}

.column{
    flex-direction:column;
}
.al-items-c{
    align-items: center;
}

.txt-c{
    text-align: center;
}

.blue{
    background-color:#b9ddff;
}

.pink{
    background-color: #fed2d1;
}

.lightgreen{
    background-color: #caf0db;
}

.lightorange{
    background-color: #ffe7c3;
}
.lightviolet{
    background-color: #d5d4f4;
}
.violet{
    background-color: #9692e6;
}
.white{
    background-color: white;;
}

.brd-rd40{
    border-radius: 40px;
}
/* ************************************ */

header{
    background-color: #0084ff;
}

.container{
    width:80%;
    margin:auto;
    display: flex;
    padding:20px;
    flex-direction:column;
    row-gap: 20px;
    column-gap: 20px;
    align-items: center;
}

.header{
    justify-content: space-between;
    color:white;
    width:80%;
    margin:auto;
    padding:20px;
}

.fa-bars{
    font-size:32px;
    color:white;
}

.btn{
    display: inline-block;
    margin:1rem 0;
    padding:1rem;
    border-radius:20px;
    border:1px solid black;
}

.btn-sqr{
   
    margin:1rem 0;
    padding:1rem;
    border-radius:10px;
    border:1px solid black;
}
.sec1-1div{
    padding:20px 20px 0 20px;
    flex-direction: column;
}
.sec1-1div img{
    margin:auto;
    width:100%;
}

.sec1-div{
    flex-direction: column;
    align-items: center;
    padding:20px;

}
.sec3-div{
    flex-direction: column;
}
.circle-div{
    border-radius: 50%;
}
